/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    line-height: 1.6;
}
h1 {
    text-align: center; /* Center the heading */
    font-size: 32px; /* Larger font size for the heading */
    margin-bottom: 20px; /* Add space below the heading */
    color: #333; /* Darker color for the heading */
}

h2 {
    text-align: center; /* Center the heading */
    font-size: 32px; /* Larger font size for the heading */
    margin-bottom: 40px; /* Add space below the heading */
    color: #333; /* Darker color for the heading */
}



nav.top-nav {
    position: fixed; /* Fix the navigation to the viewport */
    top: 20px;
    left: 20px;
    height:auto; /* Full height to span the entire page vertically */
    width: auto; /* Set a fixed width for the vertical nav */
    z-index: 1000; /* Ensure it stays on top of other elements */
    display: flex;
    flex-direction: column; /* Stack items vertically */
    padding: 20px 0; /* Padding for spacing */
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1); /* Optional: Shadow for depth */
   
    
}


nav.top-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; /* Stack list items vertically */
    gap: 20px; /* Space between links */
    align-items: flex-start; /* Align items to the start */
}

nav.top-nav ul li {
    margin: 0;
    text-align:center;
}

nav.top-nav ul li a {
    text-decoration: none;
    text-align:center;
    color: #333;
    font-weight: bold;
    transition: color 0.3s ease;
    padding: 10px 20px; /* Padding for clickable area */
    width: 100%; /* Full width for the link */
    box-sizing: border-box; /* Include padding in width */
}

nav.top-nav ul li a:hover {
    color: dodgerBlue; /* Change color on hover */
    
}

/* Combined Name, Avatar, and About Section */
#about {
    text-align: center;
    padding: 60px 20px;
}

.avatar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.avatar {
    width:300px;
    height: 300px;
    border-radius: 0;
    margin-right: 20px;
}

.about-description {
    text-align: justify;
    max-width: 800px;
    margin: 0 auto;
}

/* Project Section */
#projects {
    padding: 60px 20px;
    background-color: #ffffff;
    max-width: 960px; /* Reduced max-width for a more compact layout */
    margin: 0 auto; /* Center the container */
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 projects per line */
    gap: 40px; /* Increased gap between projects */
}
.project video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: 0;
}
.project {
    position: relative;
    background-size: cover;
    background-position: center;
    width: 100%; /* Full width of the grid cell */
    padding-bottom: 15%; /* Maintain 4:3 aspect ratio */
    border: 1px solid #ffffff;
    border-radius: 8px;
    text-decoration: none;
    color: inherit;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Added box-shadow transition */
    min-height: 250px; /* Ensure a minimum height for the project grid items */
    aspect-ratio: 4 / 3; /* Set the aspect ratio to 4:3 */
}

.project::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)); /* Gradient overlay */
    pointer-events:none; /* Ensure the overlay doesn't interfere with text interaction */
    z-index: 1; /* Ensure the overlay is below the text */
    /* transition: opacity 0.3s ease;  Smooth transition for the overlay */
    opacity: 1; /* Fully visible by default */
}

.project:hover::before {
    opacity: 0; /* Hide the overlay on hover */
}

/* Hover Effect */
.project:hover {
    transform: scale(1.05); /* Slightly scales up on hover */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Adds shadow effect on hover */
}

/* Adjusting the project title and description positioning */
.project h3 {
    font-size: 1.5rem;
    margin: 0;
    color: rgb(255, 255, 255); /* Title color */
    text-align: center;
    position: absolute; /* Positioning for titles */
    bottom: 40px; /* Positioning for titles */
    left: 0;
    right: 0;
    z-index: 1; /* Ensures text is on top */
}

.project p {
    font-size: 1rem;
    margin: 5px 0 0;
    color: white; /* Description color */
    text-align: center;
    position: absolute; /* Positioning for descriptions */
    bottom: 20px; /* Positioning for descriptions */
    left: 0;
    right: 0;
    z-index: 1; /* Ensures text is on top */
}

/* Publications Section */
#publications {
    padding: 60px 20px;
    text-align: left; /* Align text to the left for better readability */
    max-width: 800px; /* Limit the width for a more focused layout */
    margin: 0 auto; /* Center the section within the page */
}

#publications p {
    text-align: center; /* Center the introductory paragraph */
    font-size: 1.2rem; /* Slightly larger font for the paragraph */
    margin-bottom: 40px; /* Add space below the paragraph */
}

#publications ul {
    list-style-type: none; /* Remove default list styling */
    padding: 0; /* Remove default padding */
}

#publications li {
    margin-bottom: 20px; /* Add space between list items */
    padding: 10px; /* Add padding for better spacing */
    border-bottom: 1px solid #ccc; /* Add a subtle border between items */
}

#publications li:last-child {
    border-bottom: none; /* Remove border from the last item */
}

#publications strong {
    font-weight: bold; /* Ensure author names are bold */
}

#publications em {
    font-style: italic; /* Ensure publication sources are italicized */
}

/* Awards Section */
#awards {
    padding: 60px 20px;
    text-align: center;/* Align text to the left for better readability */
    max-width: 800px; /* Limit the width for a more focused layout */
    margin: 0 auto; /* Center the section within the page */
}

#awards p {
    text-align: center; /* Center the introductory paragraph */
    font-size: 1.2rem; /* Slightly larger font for the paragraph */
    margin-bottom: 40px; /* Add space below the paragraph */
    color: #666; /* Softer color for the introductory text */
}

#awards ul {
    list-style-type: none; /* Remove default list styling */
    padding: 0; /* Remove default padding */
}

#awards li:last-child {
    border-bottom: none; /* Remove border from the last item */
}

#awards strong {
    font-weight: bold; /* Ensure award names are bold */
    color: #000; /* Ensure award names stand out */
}

/* Contact Section */
.social-media {
    position: fixed;
    bottom: 20px; /* Distance from the bottom */
    right: 20px;  
    display: flex;
    flex-direction: column; /* Stack links vertically */
    gap: 10px; /* Space between links */
    background-color: rgba(255, 255, 255, 0.6); /* Optional: Background for better visibility */
    padding: 10px; /* Optional: Padding around the links */
    border-radius: 8px; /* Optional: Rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Shadow for depth */
    z-index:1000;
    align-items: center;
}


.social-media a {
    text-decoration: none;
    color: #000000;
    font-size: 1.2rem; /* Adjust size as needed */
    transition: color 0.3s ease;
}

.social-media a:hover {
    color: dodgerBlue; /* Change color on hover */
}

.image-container {
    position: relative;
    text-align: center;
    color: rgb(255, 255, 255);
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 64px;
    font-weight: bold;
}
/* Footer */
footer {

    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
    padding: 20px;
    background-color: #ffffff;
    border-top: 1px solid #ccc;
    position: relative;
    z-index:0;
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
    .project-grid {
        grid-template-columns: repeat(2, 1fr); /* 2 projects per line on smaller screens */
    }
}

@media (max-width: 480px) {
    .project-grid {
        grid-template-columns: 1fr; /* 1 project per line on very small screens */
    }
}
